<!-- html 5 기본 툴 -->
<!doctype>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>에러페이지</title>
</head>
<body><!-- 화면 안에 내용 -->
	없는 페이지에 접근하려고 합니다.
	에러에러에러!!!
</body>
</html>